<div class="nm-home--about">
	<div class="row">
		<div class="span4">
			<img src="cards.png" />
		</div>
		<div class="span4 nm-home--about-text-container">
			<h1>Easy to use calling cards at the most competitive rates.</h1>
			<a href="/purchase" class="btn btn-large btn-primary">Purchase now and enjoy</a>
		</div>
	</div>
</div>