<div class="nm-home--locations">
	<div class="row">
		<div class="span4 nm-home--locations-text">
			<h1>Make calls to over 190 countries around the globe.</h1>
			<a href="/rates" class="btn btn-large btn-success">See our rates to different countries</a>
			<p>Fun fact: there are less than 200 countries in the world.</a>
		</div>
		<div class="span4">
			<img src="world.png" />
		</div>
	</div>
</div>
