<div class="nm-about--main">
	<div class="nm-about--text-container row span10">


		<div class="nm-about--mission-quote">“The first honest prepaid calling card service”</div>
		<div class="row">
			<div class="nm-about--product-text span8">
				<div class="nm-about--text-section">
					<div class="row">
						<div class="span3">
							<img class="nm-about--generic-card-image" src="generic_card.png" />
						</div>
						<div class="span5">
							<p>Nimatel was founded with the simple goal of making the first honest prepaid calling card service and providing an amazing user experience along with it.  By taking advantage of the advances in Voice Over IP (VOIP) technologies in the past couple of years, we're able to reduce our costs and thereby provide an affordable easy-to-use service.  The calling card industry has become lethargic and accustomed to mediocrity.  Many companies have invested in expensive hardware that are now outdated and cost inefficient.  As a result, there are two options these companies resort to in order to remain competitive: they either increase their calling rates or add hidden fees to their service.  In the end, the user pays the price of the company's failure to innovate.</p>
						</div>
					</div>
				</div>

				<div class="nm-about--text-section">
					<div class="row">
						<div class="span5">
							<p>Nimatel is different.  There are <span class="bold italic">no initiation fees, maintenance fees, connection fees, post-call fees, charges for using our toll-free number</span>.  Unlike most cards that expire after one month, our cards <span class="italic">last six months after first use</span>.  We're able to provide an honest service because we use the latest VOIP technology and have connections to the public switched telephone network in <span class="bold italic">over 190 countries around the globe</span>.  Our calling cards are sold in retail stores around the United States and also online.  We offer an option to have <span class="italic">pinless dialing</span> by remembering the user's current telphone number when first dialing with a pin.</p>
						</div>
						<div class="span3">
							<img class="nm-about--nimatel-card-image" src="nimatel_card.png" />
						</div>
					</div>
				</div>
			</div>
			<div class="span10">
				<div class="nm-about--who-text nm-about--text-section">

					<h3><span class="name">Mr. Nima Amina</span> | <span class="title">President and VP of Engineering</span></h3>
					<div class="nm-about--profile-text row">
						<div class="span2">
							<img src="nima.jpg" />
						</div>
						<div class="span7">
							<p>After reading about the advances in SIP technology and interactive voice record (IVR) systems, Nima realized the development of new VOIP technologies have a huge potential to impact the phone industry.  With technical expertise in web technologies, Nima set out to build the first honest long distance phone card company.  Before building Nimatel, Nima co-founded Primsly, a service that allows software engineers to receive offers from companies before interviewing.  He was also a software engineer at Google, building technologies that allow local retail businesses to easily get their business on Google Maps.  Nima has previous experience working at Cisco in the Core Routing Business Unit, whose products compose over 50% of the Internet's routing infrastructure.  Nima graduated from UCLA with a degree in Computer Science during which he was an active member of Upsilon Pi Epsilon, the computer science honor society at UCLA.  Nima is passionate about the application of technology and its potential to improve the quality of life of people around the world.</p>
						</div>
					</div>


					<h3><span class="name">Dr. Mort Rahnemoon</span> | <span class="title">VP of Business Development</span></h3>
					<div class="nm-about--profile-text row">
						<div class="span2">
							<img src="mort.jpg" />
						</div>
						<div class="span7">
							<p>With over 30 years experience in telecommunications, Mort has worked on the development of a number of disruptive technologies in the telecom industry and is excited to always be at the forefront of innovation.  Before joining Nimatel, Mort was the Chief Technical Officer at S2M (Satellite to Mobile), during which he designed and built systems in the Middle East and North Africa which allow handheld mobile users to stream satellite television directly to their phones.  Before S2M, Mort was the head of regional sales for NSI Communications.  During his tenure at NSI, Mort succesfully performed sales and program management of VSAT satellite networks in India.  Mort has also built telecommuncation networks for Northrop Grumman, the Royal Thai Air Force, Lukoil (a Russian company) and the Indian Space Research Organization during his time as lead enginering manager at TIW systems.  Dr. Rahnemon also established sales offices for TIW around the world.  Mort was also a senior systems engineer at Spar Aerospace, during which he built satellite earth stations, microwave LOS radios and developed TDMA/DAMA technologies.  He received a PhD in satellite telecommunications from Stuggart University and spent a short tenure as a professor at the university.  Mort also has an MS in telecommunication systems from the University of Essex.  Given his extensive career, Dr. Rahnemoon is certain that SIP and other VOIP technologies are the future of telephone communications.</p>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>