<div class="nm-access--main">
	<div class="nm-access--text-container span10">
		<h1>Access Number</h1>
		<div class="nm-access--phone-number-container">
			<p>There's only one number you need in order to make a long distance phone call through Nimatel.</p>
			<div class="nm-access--phone-number">
				<div class="row">
					<h2><span class="phone_symbol">☎</span> 1(800)695-NIMA</h2>
				</div>
			</div>
			<p>You don't have to wait for any of the voice prompts, simply enter your pin followed by your destination phone number and you're all set</p>
		</div>
	</div>
</div>