<div class="nm-contact--main">
	<div class="nm-contact--text-container row span10">
		<h1>Contact</h1>
		<p>Thank you for taking the time to contact us.  Please fill out the following form.</p>
		<div class="nm-contact--form-container span6 offset1">
			<%=  puts "\n\n\n\nasdf" + (flash[:error] ? flash[:error] : "") + "\n\n\n\n\n" %>
			<%= render 'contact_form' %>
		</div>
	</div>
</div>
