<div class="nm-rates--main span10">
	<div class="nm-rates--search-tool span10">
		<h1>Rates</h1>
		<input type="text" class="country-search" placeholder="Search by country name"></input>
	</div>
	<div class="nm-rates--country-table span10">
		<table class="table table-striped">
			<thead>
				<tr class="country-header">
					<th colspan="2" class="country-name-heading">Destination Country</th>
					<th>Landline rate</th>
					<th>Mobile rate</th>
				</tr>
			</thead>
			<tbody>
				<tr class="country-row">
					<td class="country-image"><img src="/flags/Afghanistan.png"></td>
					<td class="country-name">Afghanistan</td>
					<td class="country-rate-land">$0.41/min</a>
					<td class="country-rate-mobile">$0.39/min</a>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Albania.png"></td>
					<td class="country-name">Albania</td>
					<td class="country-rate-land">$0.13/min</a>
					<td class="country-rate-mobile">$0.48/min</a>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Algeria.png"></td>
					<td class="country-name">Algeria</td>
					<td class="country-rate-land">$0.19/min</td>
					<td class="country-rate-mobile">$0.32/min</td>
				</tr>
				<!-- <tr>
					<td><img src="/flags/American Samoa.png"></td>
					<td>American Samoa</td>
				</tr> -->
				<tr>
					<td class="country-image"><img src="/flags/Andorra.png"></td>
					<td class="country-name">Andorra</td>
					<td class="country-rate-land">$0.07/min</td>
					<td class="country-rate-mobile">$0.56/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Angola.png"></td>
					<td class="country-name">Angola</td>
					<td class="country-rate-land">$0.21/min</td>
					<td class="country-rate-mobile">$0.33/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Anguilla.png"></td>
					<td class="country-name">Anguilla</td>
					<td class="country-rate-land">$0.17/min</td>
					<td class="country-rate-mobile">$0.33/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Antigua & Barbuda.png"></td>
					<td class="country-name">Antigua & Barbuda</td>
					<td class="country-rate-land">$0.19/min</td>
					<td class="country-rate-mobile">$0.19/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Argentina.png"></td>
					<td class="country-name">Argentina</td>
					<td class="country-rate-land">$0.04/min</td>
					<td class="country-rate-mobile">$0.33/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Armenia.png"></td>
					<td class="country-name">Armenia</td>
					<td class="country-rate-land">$0.13/min</td>
					<td class="country-rate-mobile">$0.32/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Aruba.png"></td>
					<td class="country-name">Aruba</td>
					<td class="country-rate-land">$0.16/min</td>
					<td class="country-rate-mobile">$0.31/min</td>
				</tr>
				<!-- AT&T HAS THIS -->
				<!-- NEED IMAGE -->
				<tr>
					<td class="country-image"><img src="/flags/Aruba.png"></td>
					<td class="country-name">Ascension Island</td>
					<td class="country-rate-land">$0.93/min</td>
					<td class="country-rate-mobile">$0.93/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Australia.png"></td>
					<td class="country-name">Australia</td>
					<td class="country-rate-land">$0.10/min</td>
					<td class="country-rate-mobile">$0.25/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Austria.png"></td>
					<td class="country-name">Austria</td>
					<td class="country-rate-land">$0.07/min</td>
					<td class="country-rate-mobile">$0.28/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Azerbaijan.png"></td>
					<td class="country-name">Azerbaijan</td>
					<td class="country-rate-land">$0.14/min</td>
					<td class="country-rate-mobile">$0.29/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Bahamas.png"></td>
					<td class="country-name">Bahamas</td>
					<td class="country-rate-land">$0.08/min</td>
					<td class="country-rate-mobile">$0.08/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Bahrain.png"></td>
					<td class="country-name">Bahrain</td>
					<td class="country-rate-land">$0.08/min</td>
					<td class="country-rate-mobile">$0.15/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Bangladesh.png"></td>
					<td class="country-name">Bangladesh</td>
					<td class="country-rate-land">$0.15/min</td>
					<td class="country-rate-mobile">$0.15/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Barbados.png"></td>
					<td class="country-name">Barbados</td>
					<td class="country-rate-land">$0.17/min</td>
					<td class="country-rate-mobile">$0.27/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Belarus.png"></td>
					<td class="country-name">Belarus</td>
					<td class="country-rate-land">$0.34/min</td>
					<td class="country-rate-mobile">$0.40/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Belgium.png"></td>
					<td class="country-name">Belgium</td>
					<td class="country-rate-land">$0.06/min</td>
					<td class="country-rate-mobile">$0.35/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Belize.png"></td>
					<td class="country-name">Belize</td>
					<td class="country-rate-land">$0.34/min</td>
					<td class="country-rate-mobile">$0.36/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Benin.png"></td>
					<td class="country-name">Benin</td>
					<td class="country-rate-land">$0.30/min</td>
					<td class="country-rate-mobile">$0.36/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Bermuda.png"></td>
					<td class="country-name">Bermuda</td>
					<td class="country-rate-land">$0.10/min</td>
					<td class="country-rate-mobile">$0.10/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Bhutan.png"></td>
					<td class="country-name">Bhutan</td>
					<td class="country-rate-land">$0.19/min</td>
					<td class="country-rate-mobile">$0.19/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Bolivia.png"></td>
					<td class="country-name">Bolivia</td>
					<td class="country-rate-land">$0.13/min</td>
					<td class="country-rate-mobile">$0.22/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Bolivia.png"></td>
					<td class="country-name">Bolivia</td>
					<td class="country-rate-land">$0.13/min</td>
					<td class="country-rate-mobile">$0.22/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Bosnia & Herzegovina.png"></td>
					<td class="country-name">Bosnia & Herzegovina</td>
					<td class="country-rate-land">$0.29/min</td>
					<td class="country-rate-mobile">$0.62/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Botswana.png"></td>
					<td class="country-name">Botswana</td>
					<td class="country-rate-land">$0.13/min</td>
					<td class="country-rate-mobile">$0.26/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Brazil.png"></td>
					<td class="country-name">Brazil</td>
					<td class="country-rate-land">$0.07/min</td>
					<td class="country-rate-mobile">$0.43/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Virgin Islands British.png"></td>
					<td class="country-name">British Virgin Islands</td>
					<td class="country-rate-land">$0.19/min</td>
					<td class="country-rate-mobile">$0.37/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Brunei.png"></td>
					<td class="country-name">Brunei</td>
					<td class="country-rate-land">$0.09/min</td>
					<td class="country-rate-mobile">$0.10/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Bulgaria.png"></td>
					<td class="country-name">Bulgaria</td>
					<td class="country-rate-land">$0.07/min</td>
					<td class="country-rate-mobile">$0.58/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Burkina Faso.png"></td>
					<td class="country-name">Burkina Faso</td>
					<td class="country-rate-land">$0.28/min</td>
					<td class="country-rate-mobile">$0.28/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Burundi.png"></td>
					<td class="country-name">Burundi</td>
					<td class="country-rate-land">$0.18/min</td>
					<td class="country-rate-mobile">$0.20/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Cambodia.png"></td>
					<td class="country-name">Cambodia</td>
					<td class="country-rate-land">$0.15/min</td>
					<td class="country-rate-mobile">$0.15/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Cameroon.png"></td>
					<td class="country-name">Cameroon</td>
					<td class="country-rate-land">$0.28/min</td>
					<td class="country-rate-mobile">$0.38/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Canada.png"></td>
					<td class="country-name">Canada</td>
					<td class="country-rate-land">$0.08/min</td>
					<td class="country-rate-mobile">$0.08/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Cape Verde.png"></td>
					<td class="country-name">Cape Verde Islands</td>
					<td class="country-rate-land">$0.34/min</td>
					<td class="country-rate-mobile">$0.51/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Cayman Islands.png"></td>
					<td class="country-name">Cayman Islands</td>
					<td class="country-rate-land">$0.13/min</td>
					<td class="country-rate-mobile">$0.26/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Central African Republic.png"></td>
					<td class="country-name">Central African Republic</td>
					<td class="country-rate-land">$0.59/min</td>
					<td class="country-rate-mobile">$0.59/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Chad.png"></td>
					<td class="country-name">Chad</td>
					<td class="country-rate-land">$0.22/min</td>
					<td class="country-rate-mobile">$0.22/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Chile.png"></td>
					<td class="country-name">Chile</td>
					<td class="country-rate-land">$0.05/min</td>
					<td class="country-rate-mobile">$0.32/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/China.png"></td>
					<td class="country-name">China</td>
					<td class="country-rate-land">$0.??/min</td>
					<td class="country-rate-mobile">$0.??/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Colombia.png"></td>
					<td class="country-name">Colombia</td>
					<td class="country-rate-land">$0.09/min</td>
					<td class="country-rate-mobile">$0.16/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Comoros.png"></td>
					<td class="country-name">Comoros</td>
					<td class="country-rate-land">$0.40/min</td>
					<td class="country-rate-mobile">$0.71/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Congo-Kinshasa(Zaire).png"></td>
					<td class="country-name">Congo, Democratic Republic (Kinshasa)</td>
					<td class="country-rate-land">$0.41/min</td>
					<td class="country-rate-mobile">$0.40/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Congo-Brazzaville.png"></td>
					<td class="country-name">Congo, Republic (Brazzaville)</td>
					<td class="country-rate-land">$0.22/min</td>
					<td class="country-rate-mobile">$0.22/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Cook Islands.png"></td>
					<td class="country-name">Cook Islands</td>
					<td class="country-rate-land">$0.94/min</td>
					<td class="country-rate-mobile">$0.94/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Costa Rica.png"></td>
					<td class="country-name">Cook Islands</td>
					<td class="country-rate-land">$0.10/min</td>
					<td class="country-rate-mobile">$0.10/min</td>
				</tr>
				<!-- <tr><td><img src="/flags/Cote d'Ivoire.png"></td><td>Cote d'Ivoire</td></tr> -->
				<tr>
					<td class="country-image"><img src="/flags/Croatia.png"></td>
					<td class="country-name">Croatia</td>
					<td class="country-rate-land">$0.07/min</td>
					<td class="country-rate-mobile">$0.34/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Cuba.png"></td>
					<td class="country-name">Cuba</td>
					<td class="country-rate-land">$1.55/min</td>
					<td class="country-rate-mobile">$1.55/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Cyprus.png"></td>
					<td class="country-name">Cyprus</td>
					<td class="country-rate-land">$0.06/min</td>
					<td class="country-rate-mobile">$0.11/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Czech Republic.png"></td>
					<td class="country-name">Czech Republic</td>
					<td class="country-rate-land">$0.07/min</td>
					<td class="country-rate-mobile">$0.38/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Denmark.png"></td>
					<td class="country-name">Denmark</td>
					<td class="country-rate-land">$0.05/min</td>
					<td class="country-rate-mobile">$0.32/min</td>
				</tr>
				<!-- AT&T HAS THIS BUT I DON"T HAVE THE FLAG!  FIND THE FLAG -->
				<tr>
					<td class="country-image"><img src="/flags/Denmark.png"></td>
					<td class="country-name">Diego Garcia</td>
					<td class="country-rate-land">$0.65/min</td>
					<td class="country-rate-mobile">$0.65/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Djibouti.png"></td>
					<td class="country-name">Djibouti</td>
					<td class="country-rate-land">$0.54/min</td>
					<td class="country-rate-mobile">$0.54/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Dominica.png"></td>
					<td class="country-name">Dominica</td>
					<td class="country-rate-land">$0.21/min</td>
					<td class="country-rate-mobile">$0.35/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Dominican Republic.png"></td>
					<td class="country-name">Dominican Republic</td>
					<td class="country-rate-land">$0.11/min</td>
					<td class="country-rate-mobile">$0.18/min</td>
				</tr>
				<!-- AT&T HAS THIS BUT I DON"T HAVE THE FLAG!  FIND THE FLAG -->
				<tr>
					<td class="country-image"><img src="/flags/Denmark.png"></td>
					<td class="country-name">East Timor</td>
					<td class="country-rate-land">$2.25/min</td>
					<td class="country-rate-mobile">N/A</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Ecuador.png"></td>
					<td class="country-name">Ecuador</td>
					<td class="country-rate-land">$0.17/min</td>
					<td class="country-rate-mobile">$0.33/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Egypt.png"></td>
					<td class="country-name">Egypt</td>
					<td class="country-rate-land">$0.17/min</td>
					<td class="country-rate-mobile">$0.18/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/El Salvador.png"></td>
					<td class="country-name">El Salvador</td>
					<td class="country-rate-land">$0.19/min</td>
					<td class="country-rate-mobile">$0.28/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/England.png"></td>
					<td class="country-name">England (Great Britain or United Kingdom)</td>
					<td class="country-rate-land">$0.08/min</td>
					<td class="country-rate-mobile">$0.29/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Equatorial Guinea.png"></td>
					<td class="country-name">Equatorial Guinea</td>
					<td class="country-rate-land">$0.37/min</td>
					<td class="country-rate-mobile">$0.37/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Eritrea.png"></td>
					<td class="country-name">Eritrea</td>
					<td class="country-rate-land">$0.39/min</td>
					<td class="country-rate-mobile">$0.39/min</td>
				</tr>
				<tr>
					<td class="country-image"><img src="/flags/Eritrea.png"></td>
					<td class="country-name">Eritrea</td>
					<td class="country-rate-land">$0.39/min</td>
					<td class="country-rate-mobile">$0.39/min</td>
				</tr>
				<tr><td><img src="/flags/Estonia.png"></td><td>Estonia</td></tr>
				<tr><td><img src="/flags/Ethiopia.png"></td><td>Ethiopia</td></tr>
				<tr><td><img src="/flags/Faroes.png"></td><td>Faroes</td></tr>
				<tr><td><img src="/flags/Fiji.png"></td><td>Fiji</td></tr>
				<tr><td><img src="/flags/Finland.png"></td><td>Finland</td></tr>
				<tr><td><img src="/flags/France.png"></td><td>France</td></tr>
				<tr><td><img src="/flags/Gabon.png"></td><td>Gabon</td></tr>
				<tr><td><img src="/flags/Gambia.png"></td><td>Gambia</td></tr>
				<tr><td><img src="/flags/Georgia.png"></td><td>Georgia</td></tr>
				<tr><td><img src="/flags/Germany.png"></td><td>Germany</td></tr>
				<tr><td><img src="/flags/Ghana.png"></td><td>Ghana</td></tr>
				<tr><td><img src="/flags/Gibraltar.png"></td><td>Gibraltar</td></tr>
				<tr><td><img src="/flags/Greece.png"></td><td>Greece</td></tr>
				<tr><td><img src="/flags/Greenland.png"></td><td>Greenland</td></tr>
				<tr><td><img src="/flags/Grenada.png"></td><td>Grenada</td></tr>
				<tr><td><img src="/flags/Guadeloupe.png"></td><td>Guadeloupe</td></tr>
				<tr><td><img src="/flags/Guam.png"></td><td>Guam</td></tr>
				<tr><td><img src="/flags/Guatemala.png"></td><td>Guatemala</td></tr>
				<tr><td><img src="/flags/Guernsey.png"></td><td>Guernsey</td></tr>
				<tr><td><img src="/flags/Guinea-Bissau.png"></td><td>Guinea-Bissau</td></tr>
				<tr><td><img src="/flags/Guinea.png"></td><td>Guinea</td></tr>
				<tr><td><img src="/flags/Guyana.png"></td><td>Guyana</td></tr>
				<tr><td><img src="/flags/Haiti.png"></td><td>Haiti</td></tr>
				<tr><td><img src="/flags/Honduras.png"></td><td>Honduras</td></tr>
				<tr><td><img src="/flags/Hong Kong.png"></td><td>Hong Kong</td></tr>
				<tr><td><img src="/flags/Hungary.png"></td><td>Hungary</td></tr>
				<tr><td><img src="/flags/Iceland.png"></td><td>Iceland</td></tr>
				<tr><td><img src="/flags/India.png"></td><td>India</td></tr>
				<tr><td><img src="/flags/Indonesia.png"></td><td>Indonesia</td></tr>
				<tr><td><img src="/flags/Iran.png"></td><td>Iran</td></tr>
				<tr><td><img src="/flags/Iraq.png"></td><td>Iraq</td></tr>
				<tr><td><img src="/flags/Ireland.png"></td><td>Ireland</td></tr>
				<tr><td><img src="/flags/Isle of Man.png"></td><td>Isle of Man</td></tr>
				<tr><td><img src="/flags/Israel.png"></td><td>Israel</td></tr>
				<tr><td><img src="/flags/Italy.png"></td><td>Italy</td></tr>
				<tr><td><img src="/flags/Jamaica.png"></td><td>Jamaica</td></tr>
				<tr><td><img src="/flags/Japan.png"></td><td>Japan</td></tr>
				<tr><td><img src="/flags/Jersey.png"></td><td>Jersey</td></tr>
				<tr><td><img src="/flags/Jordan.png"></td><td>Jordan</td></tr>
				<tr><td><img src="/flags/Kazakhstan.png"></td><td>Kazakhstan</td></tr>
				<tr><td><img src="/flags/Kenya.png"></td><td>Kenya</td></tr>
				<tr><td><img src="/flags/Kiribati.png"></td><td>Kiribati</td></tr>
				<tr><td><img src="/flags/Kosovo.png"></td><td>Kosovo</td></tr>
				<tr><td><img src="/flags/Kuwait.png"></td><td>Kuwait</td></tr>
				<tr><td><img src="/flags/Kyrgyzstan.png"></td><td>Kyrgyzstan</td></tr>
				<tr><td><img src="/flags/Laos.png"></td><td>Laos</td></tr>
				<tr><td><img src="/flags/Latvia.png"></td><td>Latvia</td></tr>
				<tr><td><img src="/flags/Lebanon.png"></td><td>Lebanon</td></tr>
				<tr><td><img src="/flags/Lesotho.png"></td><td>Lesotho</td></tr>
				<tr><td><img src="/flags/Liberia.png"></td><td>Liberia</td></tr>
				<tr><td><img src="/flags/Libya.png"></td><td>Libya</td></tr>
				<tr><td><img src="/flags/Liechtenstein.png"></td><td>Liechtenstein</td></tr>
				<tr><td><img src="/flags/Lithuania.png"></td><td>Lithuania</td></tr>
				<tr><td><img src="/flags/Luxembourg.png"></td><td>Luxembourg</td></tr>
				<tr><td><img src="/flags/Macao.png"></td><td>Macao</td></tr>
				<tr><td><img src="/flags/Macedonia.png"></td><td>Macedonia</td></tr>
				<tr><td><img src="/flags/Madagascar.png"></td><td>Madagascar</td></tr>
				<tr><td><img src="/flags/Malawi.png"></td><td>Malawi</td></tr>
				<tr><td><img src="/flags/Malaysia.png"></td><td>Malaysia</td></tr>
				<tr><td><img src="/flags/Maldives.png"></td><td>Maldives</td></tr>
				<tr><td><img src="/flags/Mali.png"></td><td>Mali</td></tr>
				<tr><td><img src="/flags/Malta.png"></td><td>Malta</td></tr>
				<tr><td><img src="/flags/Marshall Islands.png"></td><td>Marshall Islands</td></tr>
				<tr><td><img src="/flags/Martinique.png"></td><td>Martinique</td></tr>
				<tr><td><img src="/flags/Mauritania.png"></td><td>Mauritania</td></tr>
				<tr><td><img src="/flags/Mauritius.png"></td><td>Mauritius</td></tr>
				<tr><td><img src="/flags/Mexico.png"></td><td>Mexico</td></tr>
				<tr><td><img src="/flags/Micronesia.png"></td><td>Micronesia</td></tr>
				<tr><td><img src="/flags/Moldova.png"></td><td>Moldova</td></tr>
				<tr><td><img src="/flags/Monaco.png"></td><td>Monaco</td></tr>
				<tr><td><img src="/flags/Mongolia.png"></td><td>Mongolia</td></tr>
				<tr><td><img src="/flags/Montenegro.png"></td><td>Montenegro</td></tr>
				<tr><td><img src="/flags/Montserrat.png"></td><td>Montserrat</td></tr>
				<tr><td><img src="/flags/Morocco.png"></td><td>Morocco</td></tr>
				<tr><td><img src="/flags/Mozambique.png"></td><td>Mozambique</td></tr>
				<tr><td><img src="/flags/Myanmar(Burma).png"></td><td>Myanmar(Burma)</td></tr>
				<tr><td><img src="/flags/Namibia.png"></td><td>Namibia</td></tr>
				<tr><td><img src="/flags/Nauru.png"></td><td>Nauru</td></tr>
				<tr><td><img src="/flags/Nepal.png"></td><td>Nepal</td></tr>
				<tr><td><img src="/flags/Netherlands Antilles.png"></td><td>Netherlands Antilles.png</td>
				<tr><td><img src="/flags/Netherlands.png"></td><td>Netherlands</td></tr></tr>
				<tr><td><img src="/flags/New Caledonia.png"></td><td>New Caledonia</td></tr>
				<tr><td><img src="/flags/New Zealand.png"></td><td>New Zealand</td></tr>
				<tr><td><img src="/flags/Nicaragua.png"></td><td>Nicaragua</td></tr>
				<tr><td><img src="/flags/Niger.png"></td><td>Niger</td></tr>
				<tr><td><img src="/flags/Nigeria.png"></td><td>Nigeria</td></tr>
				<tr><td><img src="/flags/North Korea.png"></td><td>North Korea</td></tr>
				<tr><td><img src="/flags/Northern Cyprus.png"></td><td>Northern Cyprus</td></tr>
				<tr><td><img src="/flags/Northern Ireland.png"></td><td>Northern Ireland</td></tr>
				<tr><td><img src="/flags/Norway.png"></td><td>Norway</td></tr>
				<tr><td><img src="/flags/Oman.png"></td><td>Oman</td></tr>
				<tr><td><img src="/flags/Pakistan.png"></td><td>Pakistan</td></tr>
				<tr><td><img src="/flags/Palau.png"></td><td>Palau</td></tr>
				<tr><td><img src="/flags/Palestine.png"></td><td>Palestine</td></tr>
				<tr><td><img src="/flags/Panama.png"></td><td>Panama</td></tr>
				<tr><td><img src="/flags/Papua New Guinea.png"></td><td>Papua New Guinea</td></tr>
				<tr><td><img src="/flags/Paraguay.png"></td><td>Paraguay</td></tr>
				<tr><td><img src="/flags/Peru.png"></td><td>Peru</td></tr>
				<tr><td><img src="/flags/Philippines.png"></td><td>Philippines</td></tr>
				<tr><td><img src="/flags/Poland.png"></td><td>Poland</td></tr>
				<tr><td><img src="/flags/Portugal.png"></td><td>Portugal</td></tr>
				<tr><td><img src="/flags/Puerto Rico.png"></td><td>Puerto Rico</td></tr>
				<tr><td><img src="/flags/Qatar.png"></td><td>Qatar</td></tr>
				<tr><td><img src="/flags/Romania.png"></td><td>Romania</td></tr>
				<tr><td><img src="/flags/Russian Federation.png"></td><td>Russian Federation</td></tr>
				<tr><td><img src="/flags/Rwanda.png"></td><td>Rwanda</td></tr>
				<tr><td><img src="/flags/Saint Lucia.png"></td><td>Saint Lucia</td></tr>
				<tr><td><img src="/flags/Samoa.png"></td><td>Samoa</td></tr>
				<tr><td><img src="/flags/San Marino.png"></td><td>San Marino</td></tr>
				<tr><td><img src="/flags/Sao Tome & Principe.png"></td><td>Sao Tome & Principe</td></tr>
				<tr><td><img src="/flags/Saudi Arabia.png"></td><td>Saudi Arabia</td></tr>
				<tr><td><img src="/flags/Scotland.png"></td><td>Scotland</td></tr>
				<tr><td><img src="/flags/Senegal.png"></td><td>Senegal</td></tr>
				<tr><td><img src="/flags/Serbia(Yugoslavia).png"></td><td>Serbia(Yugoslavia)</td></tr>
				<tr><td><img src="/flags/Seychelles.png"></td><td>Seychelles</td></tr>
				<tr><td><img src="/flags/Sierra Leone.png"></td><td>Sierra Leone</td></tr>
				<tr><td><img src="/flags/Singapore.png"></td><td>Singapore</td></tr>
				<tr><td><img src="/flags/Slovakia.png"></td><td>Slovakia</td></tr>
				<tr><td><img src="/flags/Slovenia.png"></td><td>Slovenia</td></tr>
				<tr><td><img src="/flags/Solomon Islands.png"></td><td>Solomon Islands</td></tr>
				<tr><td><img src="/flags/Somalia.png"></td><td>Somalia</td></tr>
				<tr><td><img src="/flags/Somaliland.png"></td><td>Somaliland</td></tr>
				<tr><td><img src="/flags/South Africa.png"></td><td>South Africa</td></tr>
				<tr><td><img src="/flags/South Korea.png"></td><td>South Korea</td></tr>
				<tr><td><img src="/flags/Spain.png"></td><td>Spain</td></tr>
				<tr><td><img src="/flags/Sri Lanka.png"></td><td>Sri Lanka</td></tr>
				<tr><td><img src="/flags/St Kitts & Nevis.png"></td><td>St Kitts & Nevis</td></tr>
				<tr><td><img src="/flags/St Vincent & the Grenadines.png"></td><td>St Vincent & the Grenadines</td></tr>
				<tr><td><img src="/flags/Sudan.png"></td><td>Sudan</td></tr>
				<tr><td><img src="/flags/Suriname.png"></td><td>Suriname</td></tr>
				<tr><td><img src="/flags/Swaziland.png"></td><td>Swaziland</td></tr>
				<tr><td><img src="/flags/Sweden.png"></td><td>Sweden</td></tr>
				<tr><td><img src="/flags/Switzerland.png"></td><td>Switerland</td></tr>
				<tr><td><img src="/flags/Syria.png"></td><td>Syria</td></tr>
				<tr><td><img src="/flags/Tahiti (French Polinesia).png"></td><td>Tahiti (French Polinesia)</td></tr>
				<tr><td><img src="/flags/Taiwan.png"></td><td>Taiwan</td></tr>
				<tr><td><img src="/flags/Tajikistan.png"></td><td>Tajikistan</td></tr>
				<tr><td><img src="/flags/Tanzania.png"></td><td>Tanzania</td></tr>
				<tr><td><img src="/flags/Thailand.png"></td><td>Thailand</td></tr>
				<tr><td><img src="/flags/Timor-Leste.png"></td><td>Timor-Leste</td></tr>
				<tr><td><img src="/flags/Togo.png"></td><td>Togo</td></tr>
				<tr><td><img src="/flags/Tonga.png"></td><td>Tonga</td></tr>
				<tr><td><img src="/flags/Trinidad & Tobago.png"></td><td>Trinidad & Tobago</td></tr>
				<tr><td><img src="/flags/Tunisia.png"></td><td>Tunisia</td></tr>
				<tr><td><img src="/flags/Turkey.png"></td><td>Turkey</td></tr>
				<tr><td><img src="/flags/Turkmenistan.png"></td><td>Turkmenistan</td></tr>
				<tr><td><img src="/flags/Turks and Caicos Islands.png"></td><td>Turks and Caicos Isalnds</td></tr>
				<tr><td><img src="/flags/Tuvalu.png"></td><td>Tuvalu</td></tr>
				<tr><td><img src="/flags/Uganda.png"></td><td>Uganda</td></tr>
				<tr><td><img src="/flags/Ukraine.png"></td><td>Ukraine</td></tr>
				<tr><td><img src="/flags/United Arab Emirates.png"></td><td>United Arab Emirates</td></tr>
				<tr><td><img src="/flags/United Kingdom (Great Britain).png"></td><td>United Kingdom (Great Britain)</td></tr>
				<tr><td><img src="/flags/United States of America (USA).png"></td><td>United States of America (USA)</td></tr>
				<tr><td><img src="/flags/Uruguay.png"></td><td>Uruguay</td></tr>
				<tr><td><img src="/flags/Uzbekistan.png"></td><td>Uzbekistan</td></tr>
				<tr><td><img src="/flags/Vanutau.png"></td><td>Vanutau</td></tr>
				<tr><td><img src="/flags/Vatican City.png"></td><td>Vatican City</td></tr>
				<tr><td><img src="/flags/Venezuela.png"></td><td>Venezuela</td></tr>
				<tr><td><img src="/flags/Vanutau.png"></td><td>Vietnam</td></tr>
				<tr><td><img src="/flags/Virgin Islands US.png"></td><td>Virgin Islands US</td></tr>
				<tr><td><img src="/flags/Wales.png"></td><td>Wales</td></tr>
				<tr><td><img src="/flags/Western Sahara.png"></td><td>Western Sahara</td></tr>
				<tr><td><img src="/flags/Yemen.png"></td><td>Yemen</td></tr>
				<tr><td><img src="/flags/Zambia.png"></td><td>Zambia</td></tr>
				<tr><td><img src="/flags/Zimbabwe.png"></td><td>Zimbabwe</td></tr>
			</tbody>
		</table>
	</div>
</div>