<div class="nm-rates--main span10">
	<div class="nm-rates--text-container span10">
		<h1>Rates</h1>

		<div class="nm-rates--search-tool">
			<input type="text" class="country-search" placeholder="Search by country name"></input>
		</div>
		<div class="nm-rates--country-table span10">
			<table class="table table-striped">
				<thead>
					<tr class="country-header">
						<th colspan="2" class="country-name-heading">Destination Country</th>
						<th>Landline rate</th>
						<th>Mobile rate</th>
					</tr>
				</thead>
				<tbody>
					<tr class="country-row">
						<td class="country-image"><img src="/flags/Afghanistan.png"></td>
						<td class="country-name">Afghanistan</td>
						<td class="country-rate-land">$0.41/min</a>
						<td class="country-rate-mobile">$0.39/min</a>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Albania.png"></td>
						<td class="country-name">Albania</td>
						<td class="country-rate-land">$0.13/min</a>
						<td class="country-rate-mobile">$0.48/min</a>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Algeria.png"></td>
						<td class="country-name">Algeria</td>
						<td class="country-rate-land">$0.19/min</td>
						<td class="country-rate-mobile">$0.32/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Andorra.png"></td>
						<td class="country-name">Andorra</td>
						<td class="country-rate-land">$0.07/min</td>
						<td class="country-rate-mobile">$0.56/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Angola.png"></td>
						<td class="country-name">Angola</td>
						<td class="country-rate-land">$0.21/min</td>
						<td class="country-rate-mobile">$0.33/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Anguilla.png"></td>
						<td class="country-name">Anguilla</td>
						<td class="country-rate-land">$0.17/min</td>
						<td class="country-rate-mobile">$0.33/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Antigua & Barbuda.png"></td>
						<td class="country-name">Antigua & Barbuda</td>
						<td class="country-rate-land">$0.19/min</td>
						<td class="country-rate-mobile">$0.19/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Argentina.png"></td>
						<td class="country-name">Argentina</td>
						<td class="country-rate-land">$0.04/min</td>
						<td class="country-rate-mobile">$0.33/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Armenia.png"></td>
						<td class="country-name">Armenia</td>
						<td class="country-rate-land">$0.13/min</td>
						<td class="country-rate-mobile">$0.32/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Aruba.png"></td>
						<td class="country-name">Aruba</td>
						<td class="country-rate-land">$0.16/min</td>
						<td class="country-rate-mobile">$0.31/min</td>
					</tr>
					<!-- AT&T HAS THIS -->
					<!-- NEED IMAGE -->
					<tr>
						<td class="country-image"><img src="/flags/Aruba.png"></td>
						<td class="country-name">Ascension Island</td>
						<td class="country-rate-land">$0.93/min</td>
						<td class="country-rate-mobile">$0.93/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Australia.png"></td>
						<td class="country-name">Australia</td>
						<td class="country-rate-land">$0.10/min</td>
						<td class="country-rate-mobile">$0.25/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Austria.png"></td>
						<td class="country-name">Austria</td>
						<td class="country-rate-land">$0.07/min</td>
						<td class="country-rate-mobile">$0.28/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Azerbaijan.png"></td>
						<td class="country-name">Azerbaijan</td>
						<td class="country-rate-land">$0.14/min</td>
						<td class="country-rate-mobile">$0.29/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Bahamas.png"></td>
						<td class="country-name">Bahamas</td>
						<td class="country-rate-land">$0.08/min</td>
						<td class="country-rate-mobile">$0.08/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Bahrain.png"></td>
						<td class="country-name">Bahrain</td>
						<td class="country-rate-land">$0.08/min</td>
						<td class="country-rate-mobile">$0.15/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Bangladesh.png"></td>
						<td class="country-name">Bangladesh</td>
						<td class="country-rate-land">$0.15/min</td>
						<td class="country-rate-mobile">$0.15/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Barbados.png"></td>
						<td class="country-name">Barbados</td>
						<td class="country-rate-land">$0.17/min</td>
						<td class="country-rate-mobile">$0.27/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Belarus.png"></td>
						<td class="country-name">Belarus</td>
						<td class="country-rate-land">$0.34/min</td>
						<td class="country-rate-mobile">$0.40/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Belgium.png"></td>
						<td class="country-name">Belgium</td>
						<td class="country-rate-land">$0.06/min</td>
						<td class="country-rate-mobile">$0.35/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Belize.png"></td>
						<td class="country-name">Belize</td>
						<td class="country-rate-land">$0.34/min</td>
						<td class="country-rate-mobile">$0.36/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Benin.png"></td>
						<td class="country-name">Benin</td>
						<td class="country-rate-land">$0.30/min</td>
						<td class="country-rate-mobile">$0.36/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Bermuda.png"></td>
						<td class="country-name">Bermuda</td>
						<td class="country-rate-land">$0.10/min</td>
						<td class="country-rate-mobile">$0.10/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Bhutan.png"></td>
						<td class="country-name">Bhutan</td>
						<td class="country-rate-land">$0.19/min</td>
						<td class="country-rate-mobile">$0.19/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Bolivia.png"></td>
						<td class="country-name">Bolivia</td>
						<td class="country-rate-land">$0.13/min</td>
						<td class="country-rate-mobile">$0.22/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Bosnia & Herzegovina.png"></td>
						<td class="country-name">Bosnia & Herzegovina</td>
						<td class="country-rate-land">$0.29/min</td>
						<td class="country-rate-mobile">$0.62/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Botswana.png"></td>
						<td class="country-name">Botswana</td>
						<td class="country-rate-land">$0.13/min</td>
						<td class="country-rate-mobile">$0.26/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Brazil.png"></td>
						<td class="country-name">Brazil</td>
						<td class="country-rate-land">$0.07/min</td>
						<td class="country-rate-mobile">$0.43/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Virgin Islands British.png"></td>
						<td class="country-name">British Virgin Islands</td>
						<td class="country-rate-land">$0.19/min</td>
						<td class="country-rate-mobile">$0.37/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Brunei.png"></td>
						<td class="country-name">Brunei</td>
						<td class="country-rate-land">$0.09/min</td>
						<td class="country-rate-mobile">$0.10/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Bulgaria.png"></td>
						<td class="country-name">Bulgaria</td>
						<td class="country-rate-land">$0.07/min</td>
						<td class="country-rate-mobile">$0.58/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Burkina Faso.png"></td>
						<td class="country-name">Burkina Faso</td>
						<td class="country-rate-land">$0.28/min</td>
						<td class="country-rate-mobile">$0.28/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Burundi.png"></td>
						<td class="country-name">Burundi</td>
						<td class="country-rate-land">$0.18/min</td>
						<td class="country-rate-mobile">$0.20/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Cambodia.png"></td>
						<td class="country-name">Cambodia</td>
						<td class="country-rate-land">$0.15/min</td>
						<td class="country-rate-mobile">$0.15/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Cameroon.png"></td>
						<td class="country-name">Cameroon</td>
						<td class="country-rate-land">$0.28/min</td>
						<td class="country-rate-mobile">$0.38/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Canada.png"></td>
						<td class="country-name">Canada</td>
						<td class="country-rate-land">$0.08/min</td>
						<td class="country-rate-mobile">$0.08/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Cape Verde.png"></td>
						<td class="country-name">Cape Verde Islands</td>
						<td class="country-rate-land">$0.34/min</td>
						<td class="country-rate-mobile">$0.51/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Cayman Islands.png"></td>
						<td class="country-name">Cayman Islands</td>
						<td class="country-rate-land">$0.13/min</td>
						<td class="country-rate-mobile">$0.26/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Central African Republic.png"></td>
						<td class="country-name">Central African Republic</td>
						<td class="country-rate-land">$0.59/min</td>
						<td class="country-rate-mobile">$0.59/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Chad.png"></td>
						<td class="country-name">Chad</td>
						<td class="country-rate-land">$0.22/min</td>
						<td class="country-rate-mobile">$0.22/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Chile.png"></td>
						<td class="country-name">Chile</td>
						<td class="country-rate-land">$0.05/min</td>
						<td class="country-rate-mobile">$0.32/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/China.png"></td>
						<td class="country-name">China</td>
						<td class="country-rate-land">$0.05/min</td>
						<td class="country-rate-mobile">$0.10/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Colombia.png"></td>
						<td class="country-name">Colombia</td>
						<td class="country-rate-land">$0.09/min</td>
						<td class="country-rate-mobile">$0.16/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Comoros.png"></td>
						<td class="country-name">Comoros</td>
						<td class="country-rate-land">$0.40/min</td>
						<td class="country-rate-mobile">$0.71/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Congo-Kinshasa(Zaire).png"></td>
						<td class="country-name">Congo, Democratic Republic (Kinshasa)</td>
						<td class="country-rate-land">$0.41/min</td>
						<td class="country-rate-mobile">$0.40/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Congo-Brazzaville.png"></td>
						<td class="country-name">Congo, Republic (Brazzaville)</td>
						<td class="country-rate-land">$0.22/min</td>
						<td class="country-rate-mobile">$0.22/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Cook Islands.png"></td>
						<td class="country-name">Cook Islands</td>
						<td class="country-rate-land">$0.94/min</td>
						<td class="country-rate-mobile">$0.94/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Costa Rica.png"></td>
						<td class="country-name">Costa Rica</td>
						<td class="country-rate-land">$0.10/min</td>
						<td class="country-rate-mobile">$0.10/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Croatia.png"></td>
						<td class="country-name">Croatia</td>
						<td class="country-rate-land">$0.07/min</td>
						<td class="country-rate-mobile">$0.34/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Cuba.png"></td>
						<td class="country-name">Cuba</td>
						<td class="country-rate-land">$1.55/min</td>
						<td class="country-rate-mobile">$1.55/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Cyprus.png"></td>
						<td class="country-name">Cyprus</td>
						<td class="country-rate-land">$0.06/min</td>
						<td class="country-rate-mobile">$0.11/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Czech Republic.png"></td>
						<td class="country-name">Czech Republic</td>
						<td class="country-rate-land">$0.07/min</td>
						<td class="country-rate-mobile">$0.38/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Denmark.png"></td>
						<td class="country-name">Denmark</td>
						<td class="country-rate-land">$0.05/min</td>
						<td class="country-rate-mobile">$0.32/min</td>
					</tr>
					<!-- AT&T HAS THIS BUT I DON"T HAVE THE FLAG!  FIND THE FLAG -->
					<tr>
						<td class="country-image"><img src="/flags/Denmark.png"></td>
						<td class="country-name">Diego Garcia</td>
						<td class="country-rate-land">$0.65/min</td>
						<td class="country-rate-mobile">$0.65/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Djibouti.png"></td>
						<td class="country-name">Djibouti</td>
						<td class="country-rate-land">$0.54/min</td>
						<td class="country-rate-mobile">$0.54/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Dominica.png"></td>
						<td class="country-name">Dominica</td>
						<td class="country-rate-land">$0.21/min</td>
						<td class="country-rate-mobile">$0.35/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Dominican Republic.png"></td>
						<td class="country-name">Dominican Republic</td>
						<td class="country-rate-land">$0.11/min</td>
						<td class="country-rate-mobile">$0.18/min</td>
					</tr>
					<!-- AT&T HAS THIS BUT I DON"T HAVE THE FLAG!  FIND THE FLAG -->
					<tr>
						<td class="country-image"><img src="/flags/Denmark.png"></td>
						<td class="country-name">East Timor</td>
						<td class="country-rate-land">$2.25/min</td>
						<td class="country-rate-mobile">$2.25</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Ecuador.png"></td>
						<td class="country-name">Ecuador</td>
						<td class="country-rate-land">$0.17/min</td>
						<td class="country-rate-mobile">$0.33/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Egypt.png"></td>
						<td class="country-name">Egypt</td>
						<td class="country-rate-land">$0.17/min</td>
						<td class="country-rate-mobile">$0.18/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/El Salvador.png"></td>
						<td class="country-name">El Salvador</td>
						<td class="country-rate-land">$0.19/min</td>
						<td class="country-rate-mobile">$0.28/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Equatorial Guinea.png"></td>
						<td class="country-name">Equatorial Guinea</td>
						<td class="country-rate-land">$0.37/min</td>
						<td class="country-rate-mobile">$0.37/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Eritrea.png"></td>
						<td class="country-name">Eritrea</td>
						<td class="country-rate-land">$0.39/min</td>
						<td class="country-rate-mobile">$0.39/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Estonia.png"></td>
						<td class="country-name">Estonia</td>
						<td class="country-rate-land">$0.07/min</td>
						<td class="country-rate-mobile">$0.48/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Ethiopia.png"></td>
						<td class="country-name">Ethiopia</td>
						<td class="country-rate-land">$0.33/min</td>
						<td class="country-rate-mobile">$0.39/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Faroes.png"></td>
						<td class="country-name">Faeroe Islands</td>
						<td class="country-rate-land">$0.26/min</td>
						<td class="country-rate-mobile">$0.25/min</td>
					</tr>
					<!-- AT&T HAS THIS BUT I DON"T HAVE THE FLAG!  FIND THE FLAG -->
					<tr>
						<td class="country-image"><img src="/flags/Faroes.png"></td>
						<td class="country-name">Falkland Islands</td>
						<td class="country-rate-land">$0.76/min</td>
						<td class="country-rate-mobile">$0.76/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Fiji.png"></td>
						<td class="country-name">Fiji Islands</td>
						<td class="country-rate-land">$0.34/min</td>
						<td class="country-rate-mobile">$0.37/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Finland.png"></td>
						<td class="country-name">Finland</td>
						<td class="country-rate-land">$0.10/min</td>
						<td class="country-rate-mobile">$0.20/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/France.png"></td>
						<td class="country-name">France</td>
						<td class="country-rate-land">$0.05/min</td>
						<td class="country-rate-mobile">$0.25/min</td>
					</tr>
					<!-- AT&T HAS THIS BUT I DON"T HAVE THE FLAG!  FIND THE FLAG -->
					<tr>
						<td class="country-image"><img src="/flags/France.png"></td>
						<td class="country-name">French Antilles (Martinique, St. Barthelemy, St. Martin)</td>
						<td class="country-rate-land">$0.14/min</td>
						<td class="country-rate-mobile">$0.56/min</td>
					</tr>
					<!-- AT&T HAS THIS BUT I DON'T HAVE THE FLAG!  FIND THE FLAG -->
					<tr>
						<td class="country-image"><img src="/flags/France.png"></td>
						<td class="country-name">French Guiana</td>
						<td class="country-rate-land">$0.12/min</td>
						<td class="country-rate-mobile">$0.27/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Tahiti (French Polinesia).png"></td>
						<td class="country-name">French Polynesia (Moorea, Tahiti)</td>
						<td class="country-rate-land">$0.30/min</td>
						<td class="country-rate-mobile">$0.42/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Gabon.png"></td>
						<td class="country-name">Gabon</td>
						<td class="country-rate-land">$0.25/min</td>
						<td class="country-rate-mobile">$0.15/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Gambia.png"></td>
						<td class="country-name">Gambia</td>
						<td class="country-rate-land">$0.42/min</td>
						<td class="country-rate-mobile">$0.46/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Georgia.png"></td>
						<td class="country-name">Georgia</td>
						<td class="country-rate-land">$0.09/min</td>
						<td class="country-rate-mobile">$0.24/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Germany.png"></td>
						<td class="country-name">Germany</td>
						<td class="country-rate-land">$0.08/min</td>
						<td class="country-rate-mobile">$0.39/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Ghana.png"></td>
						<td class="country-name">Ghana</td>
						<td class="country-rate-land">$0.30/min</td>
						<td class="country-rate-mobile">$0.30/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Gibraltar.png"></td>
						<td class="country-name">Gibraltar</td>
						<td class="country-rate-land">$0.10/min</td>
						<td class="country-rate-mobile">$0.51/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Greece.png"></td>
						<td class="country-name">Greece</td>
						<td class="country-rate-land">$0.05/min</td>
						<td class="country-rate-mobile">$0.33/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Greenland.png"></td>
						<td class="country-name">Greenland</td>
						<td class="country-rate-land">$0.61/min</td>
						<td class="country-rate-mobile">$0.88/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Grenada.png"></td>
						<td class="country-name">Grenada (Carriacou)</td>
						<td class="country-rate-land">$0.19/min</td>
						<td class="country-rate-mobile">$0.34/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Guadeloupe.png"></td>
						<td class="country-name">Guadeloupe (Carriacou)</td>
						<td class="country-rate-land">$0.08/min</td>
						<td class="country-rate-mobile">$0.57/min</td>
					</tr>
					<!-- AT&T DOESN'T HAVE THIS. -->
					<tr>
						<td class="country-image"><img src="/flags/Guam.png"></td>
						<td class="country-name">Guam</td>
						<td class="country-rate-land">$0.09/min</td>
						<td class="country-rate-mobile">$0.23/min</td>
					</tr>
					<!-- AT&T HAS THIS BUT I DON'T HAVE THE FLAG!  FIND THE FLAG -->
					<tr>
						<td class="country-image"><img src="/flags/Guadeloupe.png"></td>
						<td class="country-name">Guantanamo (U.S. Naval Base)</td>
						<td class="country-rate-land">$1.42/min</td>
						<td class="country-rate-mobile">$1.42/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Guatemala.png"></td>
						<td class="country-name">Guatemala</td>
						<td class="country-rate-land">$0.16/min</td>
						<td class="country-rate-mobile">$0.19/min</td>
					</tr>
					<!-- AT&T DOESN'T HAVE THIS. -->
					<tr>
						<td class="country-image"><img src="/flags/Guatemala.png"></td>
						<td class="country-name">Guernsey</td>
						<td class="country-rate-land">$0.15/min</td>
						<td class="country-rate-mobile">$0.20/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Guinea.png"></td>
						<td class="country-name">Guinea</td>
						<td class="country-rate-land">$1.10/min</td>
						<td class="country-rate-mobile">$1.03/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Guinea-Bissau.png"></td>
						<td class="country-name">Guinea-Bissau</td>
						<td class="country-rate-land">$0.43/min</td>
						<td class="country-rate-mobile">$0.39/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Guyana.png"></td>
						<td class="country-name">Guyana</td>
						<td class="country-rate-land">$0.45/min</td>
						<td class="country-rate-mobile">$0.45/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Haiti.png"></td>
						<td class="country-name">Haiti</td>
						<td class="country-rate-land">$0.25/min</td>
						<td class="country-rate-mobile">$0.36/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Honduras.png"></td>
						<td class="country-name">Honduras</td>
						<td class="country-rate-land">$0.30/min</td>
						<td class="country-rate-mobile">$0.35/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Hong Kong.png"></td>
						<td class="country-name">Hong Kong</td>
						<td class="country-rate-land">$0.05/min</td>
						<td class="country-rate-mobile">$0.05/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Hungary.png"></td>
						<td class="country-name">Hungary</td>
						<td class="country-rate-land">$0.06/min</td>
						<td class="country-rate-mobile">$0.28/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Iceland.png"></td>
						<td class="country-name">Iceland</td>
						<td class="country-rate-land">$0.05/min</td>
						<td class="country-rate-mobile">$0.46/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/India.png"></td>
						<td class="country-name">India</td>
						<td class="country-rate-land">$0.11/min</td>
						<td class="country-rate-mobile">$0.13/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Indonesia.png"></td>
						<td class="country-name">Indonesia</td>
						<td class="country-rate-land">$0.12/min</td>
						<td class="country-rate-mobile">$0.18/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Iran.png"></td>
						<td class="country-name">Iran</td>
						<td class="country-rate-land">$0.19/min</td>
						<td class="country-rate-mobile">$0.20/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Iraq.png"></td>
						<td class="country-name">Iraq</td>
						<td class="country-rate-land">$0.18/min</td>
						<td class="country-rate-mobile">$0.27/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Ireland.png"></td>
						<td class="country-name">Ireland</td>
						<td class="country-rate-land">$0.05/min</td>
						<td class="country-rate-mobile">$0.34/min</td>
					</tr>
					<!-- AT&T DOESN'T HAVE THIS -->
					<tr>
						<td class="country-image"><img src="/flags/Isle of Man.png"></td>
						<td class="country-name">Isle of Man</td>
						<td class="country-rate-land">$0.08/min</td>
						<td class="country-rate-mobile">$0.12/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Israel.png"></td>
						<td class="country-name">Israel</td>
						<td class="country-rate-land">$0.06/min</td>
						<td class="country-rate-mobile">$0.20/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Italy.png"></td>
						<td class="country-name">Italy</td>
						<td class="country-rate-land">$0.08/min</td>
						<td class="country-rate-mobile">$0.29/min</td>
					</tr>
					<!-- AT&T HAS THIS BUT I DON'T HAVE THE FLAG!  FIND THE FLAG -->
					<tr>
						<td class="country-image"><img src="/flags/Cote d'Ivoire.png"></td>
						<td class="country-name">Ivory Coast</td>
						<td class="country-rate-land">$0.08/min</td>
						<td class="country-rate-mobile">$0.29/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Jamaica.png"></td>
						<td class="country-name">Jamaica</td>
						<td class="country-rate-land">$0.17/min</td>
						<td class="country-rate-mobile">$0.34/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Japan.png"></td>
						<td class="country-name">Japan (Okinawa)</td>
						<td class="country-rate-land">$0.08/min</td>
						<td class="country-rate-mobile">$0.29/min</td>
					</tr>
					<!-- AT&T DOESN'T HAVE THIS -->
					<tr>
						<td class="country-image"><img src="/flags/Jersey.png"></td>
						<td class="country-name">Jersey</td>
						<td class="country-rate-land">$0.08/min</td>
						<td class="country-rate-mobile">$0.12/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Jordan.png"></td>
						<td class="country-name">Jordan</td>
						<td class="country-rate-land">$0.07/min</td>
						<td class="country-rate-mobile">$0.17/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Kazakhstan.png"></td>
						<td class="country-name">Kazakhstan</td>
						<td class="country-rate-land">$0.13/min</td>
						<td class="country-rate-mobile">$0.26/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Kenya.png"></td>
						<td class="country-name">Kenya</td>
						<td class="country-rate-land">$0.17/min</td>
						<td class="country-rate-mobile">$0.23/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Kiribati.png"></td>
						<td class="country-name">Kiribati</td>
						<td class="country-rate-land">$0.89/min</td>
						<td class="country-rate-mobile">$0.86/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/South Korea.png"></td>
						<td class="country-name">Korea (South Korea, Republic)</td>
						<td class="country-rate-land">$0.86/min</td>
						<td class="country-rate-mobile">$0.86/min</td>
					</tr>
					<!-- AT&T DOESN'T HAVE THIS -->
					<tr>
						<td class="country-image"><img src="/flags/Kosovo.png"></td>
						<td class="country-name">Kosovo</td>
						<td class="country-rate-land">$0.20/min</td>
						<td class="country-rate-mobile">$0.26/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Kuwait.png"></td>
						<td class="country-name">Kuwait</td>
						<td class="country-rate-land">$0.16/min</td>
						<td class="country-rate-mobile">$0.21/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Kyrgyzstan.png"></td>
						<td class="country-name">Kyrgyzstan</td>
						<td class="country-rate-land">$0.23/min</td>
						<td class="country-rate-mobile">$0.19/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Laos.png"></td>
						<td class="country-name">Laos</td>
						<td class="country-rate-land">$0.12/min</td>
						<td class="country-rate-mobile">$0.12/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Latvia.png"></td>
						<td class="country-name">Latvia</td>
						<td class="country-rate-land">$0.08/min</td>
						<td class="country-rate-mobile">$0.29/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Lebanon.png"></td>
						<td class="country-name">Lebanon</td>
						<td class="country-rate-land">$0.17/min</td>
						<td class="country-rate-mobile">$0.30/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Lesotho.png"></td>
						<td class="country-name">Lesotho</td>
						<td class="country-rate-land">$0.27/min</td>
						<td class="country-rate-mobile">$0.38/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Liberia.png"></td>
						<td class="country-name">Liberia</td>
						<td class="country-rate-land">$0.43/min</td>
						<td class="country-rate-mobile">$0.42/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Libya.png"></td>
						<td class="country-name">Libya</td>
						<td class="country-rate-land">$0.42/min</td>
						<td class="country-rate-mobile">$0.42/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Liechtenstein.png"></td>
						<td class="country-name">Liechtenstein</td>
						<td class="country-rate-land">$0.12/min</td>
						<td class="country-rate-mobile">$0.72/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Lithuania.png"></td>
						<td class="country-name">Lithuania</td>
						<td class="country-rate-land">$0.22/min</td>
						<td class="country-rate-mobile">$0.32/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Luxembourg.png"></td>
						<td class="country-name">Luxembourg</td>
						<td class="country-rate-land">$0.05/min</td>
						<td class="country-rate-mobile">$0.41/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Macau.png"></td>
						<td class="country-name">Macau</td>
						<td class="country-rate-land">$0.07/min</td>
						<td class="country-rate-mobile">$0.07/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Macedonia.png"></td>
						<td class="country-name">Macedonia (Yugoslav Republic)</td>
						<td class="country-rate-land">$0.23/min</td>
						<td class="country-rate-mobile">$0.50/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Madagascar.png"></td>
						<td class="country-name">Madagascar</td>
						<td class="country-rate-land">$0.27/min</td>
						<td class="country-rate-mobile">$1.42/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Malawi.png"></td>
						<td class="country-name">Malawi</td>
						<td class="country-rate-land">$0.22/min</td>
						<td class="country-rate-mobile">$0.24/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Malaysia.png"></td>
						<td class="country-name">Malaysia</td>
						<td class="country-rate-land">$0.05/min</td>
						<td class="country-rate-mobile">$0.08/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Maldives.png"></td>
						<td class="country-name">Maldives</td>
						<td class="country-rate-land">$0.22/min</td>
						<td class="country-rate-mobile">$0.22/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Mali.png"></td>
						<td class="country-name">Mali</td>
						<td class="country-rate-land">$0.25/min</td>
						<td class="country-rate-mobile">$0.39/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Malta.png"></td>
						<td class="country-name">Malta</td>
						<td class="country-rate-land">$0.12/min</td>
						<td class="country-rate-mobile">$0.43/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Marshall Islands.png"></td>
						<td class="country-name">Marshall Islands</td>
						<td class="country-rate-land">$0.36/min</td>
						<td class="country-rate-mobile">$0.37/min</td>
					</tr>
					<!-- AT&T HAS THIS BUT I DON'T.  NEED TO FIND THE FLAG. -->
					<tr>
						<td class="country-image"><img src="/flags/Marshall Islands.png"></td>
						<td class="country-name">Mauritius</td>
						<td class="country-rate-land">$0.22/min</td>
						<td class="country-rate-mobile">$0.22/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Marshall Islands.png"></td>
						<td class="country-name">Mayotte Island</td>
						<td class="country-rate-land">$0.22/min</td>
						<td class="country-rate-mobile">$0.22/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Mexico.png"></td>
						<td class="country-name">Mexico</td>
						<td class="country-rate-land">$0.18/min</td>
						<td class="country-rate-mobile">$0.29/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Micronesia.png"></td>
						<td class="country-name">Micronesia</td>
						<td class="country-rate-land">$0.49/min</td>
						<td class="country-rate-mobile">$0.40/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Moldova.png"></td>
						<td class="country-name">Moldova</td>
						<td class="country-rate-land">$0.20/min</td>
						<td class="country-rate-mobile">$0.32/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Monaco.png"></td>
						<td class="country-name">Monaco</td>
						<td class="country-rate-land">$0.07/min</td>
						<td class="country-rate-mobile">$0.52/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Mongolia.png"></td>
						<td class="country-name">Mongolia</td>
						<td class="country-rate-land">$0.15/min</td>
						<td class="country-rate-mobile">$0.27/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Montenegro.png"></td>
						<td class="country-name">Montenegro</td>
						<td class="country-rate-land">$0.57</td>
						<td class="country-rate-mobile">$0.78</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Montserrat.png"></td>
						<td class="country-name">Montserrat</td>
						<td class="country-rate-land">$0.24</td>
						<td class="country-rate-mobile">$0.24</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Morocco.png"></td>
						<td class="country-name">Morocco (Kingdom)</td>
						<td class="country-rate-land">$0.27</td>
						<td class="country-rate-mobile">$0.47</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Mozambique.png"></td>
						<td class="country-name">Mozambique</td>
						<td class="country-rate-land">$0.16</td>
						<td class="country-rate-mobile">$0.22</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Myanmar(Burma).png"></td>
						<td class="country-name">Myanmar (Burma)</td>
						<td class="country-rate-land">$0.48</td>
						<td class="country-rate-mobile">$0.48</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Namibia.png"></td>
						<td class="country-name">Namibia</td>
						<td class="country-rate-land">$0.07</td>
						<td class="country-rate-mobile">$0.33</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Nauru.png"></td>
						<td class="country-name">Nauru</td>
						<td class="country-rate-land">$1.31</td>
						<td class="country-rate-mobile">$1.31</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Nepal.png"></td>
						<td class="country-name">Nepal</td>
						<td class="country-rate-land">$0.39</td>
						<td class="country-rate-mobile">$0.31</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Netherlands.png"></td>
						<td class="country-name">Netherlands</td>
						<td class="country-rate-land">$0.06</td>
						<td class="country-rate-mobile">$0.43</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Netherlands Antilles.png"></td>
						<td class="country-name">Netherlands Antilles (Bonaire, Saba, St. Eustatius, St. Maarten)</td>
						<td class="country-rate-land">$0.06</td>
						<td class="country-rate-mobile">$0.20</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/New Caledonia.png"></td>
						<td class="country-name">New Caledonia</td>
						<td class="country-rate-land">$0.43</td>
						<td class="country-rate-mobile">$0.42</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/New Zealand.png"></td>
						<td class="country-name">New Zealand (Chatham Island)</td>
						<td class="country-rate-land">$0.06</td>
						<td class="country-rate-mobile">$0.42</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Nicaragua.png"></td>
						<td class="country-name">Nicaragua</td>
						<td class="country-rate-land">$0.22</td>
						<td class="country-rate-mobile">$0.34</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Niger.png"></td>
						<td class="country-name">Niger</td>
						<td class="country-rate-land">$0.24</td>
						<td class="country-rate-mobile">$0.24</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Nigeria.png"></td>
						<td class="country-name">Nigeria (Federal Republic)</td>
						<td class="country-rate-land">$0.18</td>
						<td class="country-rate-mobile">$0.21</td>
					</tr>
					<!-- AT&T HAS THIS BUT I DON'T.  NEED TO FIND THE FLAG. -->
					<tr>
						<td class="country-image"><img src="/flags/New Zealand.png"></td>
						<td class="country-name">Norfolk Island</td>
						<td class="country-rate-land">$1.42</td>
						<td class="country-rate-mobile">$1.42</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/North Korea.png"></td>
						<td class="country-name">North Korea (Democratic People's Republic)</td>
						<td class="country-rate-land">$0.89/min</td>
						<td class="country-rate-mobile">$0.89/min</td>
					</tr>
					<!-- AT&T DOESN'T HAVE THIS -->
					<tr>
						<td class="country-image"><img src="/flags/Northern Cyprus.png"></td>
						<td class="country-name">Northern Cyprus</td>
						<td class="country-rate-land">$0.14/min</td>
						<td class="country-rate-mobile">$0.17/min</td>
					</tr>
					<!-- AT&T DOESN'T HAVE THIS -->
					<tr>
						<td class="country-image"><img src="/flags/Northern Ireland.png"></td>
						<td class="country-name">Northern Ireland</td>
						<td class="country-rate-land">$0.12/min</td>
						<td class="country-rate-mobile">$0.16/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Norway.png"></td>
						<td class="country-name">Norway (Svalbard)</td>
						<td class="country-rate-land">$0.06/min</td>
						<td class="country-rate-mobile">$0.30/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Oman.png"></td>
						<td class="country-name">Oman</td>
						<td class="country-rate-land">$0.23/min</td>
						<td class="country-rate-mobile">$0.33/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Pakistan.png"></td>
						<td class="country-name">Pakistan</td>
						<td class="country-rate-land">$0.21/min</td>
						<td class="country-rate-mobile">$0.21/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Palau.png"></td>
						<td class="country-name">Palau (Republic)</td>
						<td class="country-rate-land">$0.44/min</td>
						<td class="country-rate-mobile">$0.42/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Palestine.png"></td>
						<td class="country-name">Palestine</td>
						<td class="country-rate-land">$0.42/min</td>
						<td class="country-rate-mobile">$0.42/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Panama.png"></td>
						<td class="country-name">Panama</td>
						<td class="country-rate-land">$0.12/min</td>
						<td class="country-rate-mobile">$0.18/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Papua New Guinea.png"></td>
						<td class="country-name">Papua New Guinea</td>
						<td class="country-rate-land">$0.67/min</td>
						<td class="country-rate-mobile">$0.73/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Paraguay.png"></td>
						<td class="country-name">Paraguay</td>
						<td class="country-rate-land">$0.11/min</td>
						<td class="country-rate-mobile">$0.23/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Peru.png"></td>
						<td class="country-name">Peru</td>
						<td class="country-rate-land">$0.06/min</td>
						<td class="country-rate-mobile">$0.28/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Philippines.png"></td>
						<td class="country-name">Philippines</td>
						<td class="country-rate-land">$0.29/min</td>
						<td class="country-rate-mobile">$0.43/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Poland.png"></td>
						<td class="country-name">Poland</td>
						<td class="country-rate-land">$0.06/min</td>
						<td class="country-rate-mobile">$0.31/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Portugal.png"></td>
						<td class="country-name">Portugal (Azores, Madeira Islands)</td>
						<td class="country-rate-land">$0.05/min</td>
						<td class="country-rate-mobile">$0.35/min</td>
					</tr>
					<!-- AT&T DOESN'T HAVE THIS -->
					<tr>
						<td class="country-image"><img src="/flags/Puerto Rico.png"></td>
						<td class="country-name">Puerto Rico</td>
						<td class="country-rate-land">$0.20/min</td>
						<td class="country-rate-mobile">$0.25/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Qatar.png"></td>
						<td class="country-name">Qatar</td>
						<td class="country-rate-land">$0.26/min</td>
						<td class="country-rate-mobile">$0.32/min</td>
					</tr>
					<!-- AT&T DOESN'T HAVE THIS -->
					<tr>
						<td class="country-image"><img src="/flags/Panama.png"></td>
						<td class="country-name">Reunion Island</td>
						<td class="country-rate-land">$0.36/min</td>
						<td class="country-rate-mobile">$0.43/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Romania.png"></td>
						<td class="country-name">Romania</td>
						<td class="country-rate-land">$0.07/min</td>
						<td class="country-rate-mobile">$0.29/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Russian Federation.png"></td>
						<td class="country-name">Russia</td>
						<td class="country-rate-land">$0.08/min</td>
						<td class="country-rate-mobile">$0.13/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Rwanda.png"></td>
						<td class="country-name">Rwanda</td>
						<td class="country-rate-land">$0.19/min</td>
						<td class="country-rate-mobile">$0.19/min</td>
					</tr>
					<!-- AT&T DOESN'T HAVE THIS -->
					<tr>
						<td class="country-image"><img src="/flags/Saint Lucia.png"></td>
						<td class="country-name">Saint Lucia</td>
						<td class="country-rate-land">$0.30/min</td>
						<td class="country-rate-mobile">$0.36/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Samoa.png"></td>
						<td class="country-name">Samoa</td>
						<td class="country-rate-land">$0.36/min</td>
						<td class="country-rate-mobile">$0.58/min</td>
					</tr>
					<!-- AT&T DOESN'T HAVE THIS -->
					<tr>
						<td class="country-image"><img src="/flags/San Marino.png"></td>
						<td class="country-name">San Marino</td>
						<td class="country-rate-land">$0.88/min</td>
						<td class="country-rate-mobile">$0.88/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Sao Tome & Principe.png"></td>
						<td class="country-name">Sao Tome & Principe</td>
						<td class="country-rate-land">$1.51/min</td>
						<td class="country-rate-mobile">$1.51/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Saudi Arabia.png"></td>
						<td class="country-name">Saudi Arabia</td>
						<td class="country-rate-land">$0.16/min</td>
						<td class="country-rate-mobile">$0.23/min</td>
					</tr>
					<!-- AT&T DOESN'T HAVE THIS -->
					<tr>
						<td class="country-image"><img src="/flags/Scotland.png"></td>
						<td class="country-name">Scotland</td>
						<td class="country-rate-land">$0.08/min</td>
						<td class="country-rate-mobile">$0.12/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Senegal.png"></td>
						<td class="country-name">Senegal</td>
						<td class="country-rate-land">$0.24/min</td>
						<td class="country-rate-mobile">$0.37/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Serbia(Yugoslavia).png"></td>
						<td class="country-name">Serbia (Yugoslavia)</td>
						<td class="country-rate-land">$0.15/min</td>
						<td class="country-rate-mobile">$0.40/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Seychelles.png"></td>
						<td class="country-name">Seychelles Islands</td>
						<td class="country-rate-land">$0.16/min</td>
						<td class="country-rate-mobile">$0.16/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Sierra Leone.png"></td>
						<td class="country-name">Sierra Leone</td>
						<td class="country-rate-land">$0.48/min</td>
						<td class="country-rate-mobile">$0.48/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Singapore.png"></td>
						<td class="country-name">Singapore</td>
						<td class="country-rate-land">$0.05/min</td>
						<td class="country-rate-mobile">$0.05/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Slovakia.png"></td>
						<td class="country-name">Slovakia</td>
						<td class="country-rate-land">$0.07/min</td>
						<td class="country-rate-mobile">$0.37/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Slovenia.png"></td>
						<td class="country-name">Slovenia</td>
						<td class="country-rate-land">$0.08/min</td>
						<td class="country-rate-mobile">$0.56/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Solomon Islands.png"></td>
						<td class="country-name">Solomon Islands</td>
						<td class="country-rate-land">$1.28/min</td>
						<td class="country-rate-mobile">$1.28/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Somalia.png"></td>
						<td class="country-name">Somalia</td>
						<td class="country-rate-land">$0.28/min</td>
						<td class="country-rate-mobile">$0.32/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Somaliland.png"></td>
						<td class="country-name">Somaliland</td>
						<td class="country-rate-land">$0.28/min</td>
						<td class="country-rate-mobile">$0.32/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/South Africa.png"></td>
						<td class="country-name">South Africa</td>
						<td class="country-rate-land">$0.10/min</td>
						<td class="country-rate-mobile">$0.22/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Spain.png"></td>
						<td class="country-name">Spain (Balearic Islands, Canary Islands, Ceuta, Melila)</td>
						<td class="country-rate-land">$0.08/min</td>
						<td class="country-rate-mobile">$0.35/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Sri Lanka.png"></td>
						<td class="country-name">Sri Lanka</td>
						<td class="country-rate-land">$0.35/min</td>
						<td class="country-rate-mobile">$0.25/min</td>
					</tr>
					<!-- AT&T HAS THIS BUT I DON'T.  FLAG NEEDED. -->
					<tr>
						<td class="country-image"><img src="/flags/Serbia(Yugoslavia).png"></td>
						<td class="country-name">St. Helena</td>
						<td class="country-rate-land">$1.33/min</td>
						<td class="country-rate-mobile">$1.30/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/St Kitts & Nevis.png"></td>
						<td class="country-name">St. Kitts & Nevis</td>
						<td class="country-rate-land">$0.20/min</td>
						<td class="country-rate-mobile">$0.36/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/St Kitts & Nevis.png"></td>
						<td class="country-name">St. Pierre & Miquelon</td>
						<td class="country-rate-land">$0.18/min</td>
						<td class="country-rate-mobile">$0.24/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/St Vincent & the Grenadines.png"></td>
						<td class="country-name">St. Vincent & the Grenadines</td>
						<td class="country-rate-land">$0.20/min</td>
						<td class="country-rate-mobile">$0.33/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Sudan.png"></td>
						<td class="country-name">Sudan</td>
						<td class="country-rate-land">$0.18/min</td>
						<td class="country-rate-mobile">$0.22/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Suriname.png"></td>
						<td class="country-name">Suriname</td>
						<td class="country-rate-land">$0.29/min</td>
						<td class="country-rate-mobile">$0.29/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Swaziland.png"></td>
						<td class="country-name">Swaziland</td>
						<td class="country-rate-land">$0.12/min</td>
						<td class="country-rate-mobile">$0.26/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Sweden.png"></td>
						<td class="country-name">Sweden</td>
						<td class="country-rate-land">$0.05/min</td>
						<td class="country-rate-mobile">$0.19/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Switzerland.png"></td>
						<td class="country-name">Switzerland</td>
						<td class="country-rate-land">$0.06/min</td>
						<td class="country-rate-mobile">$0.39/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Syria.png"></td>
						<td class="country-name">Syria</td>
						<td class="country-rate-land">$0.26/min</td>
						<td class="country-rate-mobile">$0.44/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Taiwan.png"></td>
						<td class="country-name">Taiwan</td>
						<td class="country-rate-land">$0.05/min</td>
						<td class="country-rate-mobile">$0.15/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Tajikistan.png"></td>
						<td class="country-name">Tajikistan</td>
						<td class="country-rate-land">$0.18/min</td>
						<td class="country-rate-mobile">$0.18/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Tanzania.png"></td>
						<td class="country-name">Tanzania</td>
						<td class="country-rate-land">$0.19/min</td>
						<td class="country-rate-mobile">$0.19/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Thailand.png"></td>
						<td class="country-name">Thailand</td>
						<td class="country-rate-land">$0.06/min</td>
						<td class="country-rate-mobile">$0.22/min</td>
					</tr>
					<!-- AT&T DOESN'T HAVE THIS -->
					<tr>
						<td class="country-image"><img src="/flags/Timor-Leste.png"></td>
						<td class="country-name">Timor-Leste</td>
						<td class="country-rate-land">$0.48/min</td>
						<td class="country-rate-mobile">$0.52/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Togo.png"></td>
						<td class="country-name">Togo</td>
						<td class="country-rate-land">$0.38/min</td>
						<td class="country-rate-mobile">$0.39/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Tonga.png"></td>
						<td class="country-name">Tonga Islands</td>
						<td class="country-rate-land">$0.45/min</td>
						<td class="country-rate-mobile">$0.45/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Trinidad & Tobago.png"></td>
						<td class="country-name">Trinidad & Tobago</td>
						<td class="country-rate-land">$0.15/min</td>
						<td class="country-rate-mobile">$0.29/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Tunisia.png"></td>
						<td class="country-name">Tunisia</td>
						<td class="country-rate-land">$0.32/min</td>
						<td class="country-rate-mobile">$0.64/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Turkey.png"></td>
						<td class="country-name">Turkey</td>
						<td class="country-rate-land">$0.11/min</td>
						<td class="country-rate-mobile">$0.31/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Turkmenistan.png"></td>
						<td class="country-name">Turkmenistan</td>
						<td class="country-rate-land">$0.19/min</td>
						<td class="country-rate-mobile">$0.19/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Turks and Caicos Islands.png"></td>
						<td class="country-name">Turks and Caicos Islands</td>
						<td class="country-rate-land">$0.19/min</td>
						<td class="country-rate-mobile">$0.36/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Tuvalu.png"></td>
						<td class="country-name">Tuvalu</td>
						<td class="country-rate-land">$0.83/min</td>
						<td class="country-rate-mobile">$0.83/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Uganda.png"></td>
						<td class="country-name">Uganda</td>
						<td class="country-rate-land">$0.18/min</td>
						<td class="country-rate-mobile">$0.19/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Ukraine.png"></td>
						<td class="country-name">Ukraine</td>
						<td class="country-rate-land">$0.16/min</td>
						<td class="country-rate-mobile">$0.16/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/United Arab Emirates.png"></td>
						<td class="country-name">United Arab Emirates</td>
						<td class="country-rate-land">$0.27/min</td>
						<td class="country-rate-mobile">$0.29/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/England.png"></td>
						<td class="country-name">United Kingdom (England or Great Britain)</td>
						<td class="country-rate-land">$0.08/min</td>
						<td class="country-rate-mobile">$0.29/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Uruguay.png"></td>
						<td class="country-name">Uruguay</td>
						<td class="country-rate-land">$0.12/min</td>
						<td class="country-rate-mobile">$0.32/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Uzbekistan.png"></td>
						<td class="country-name">Uzbekistan</td>
						<td class="country-rate-land">$0.12/min</td>
						<td class="country-rate-mobile">$0.14/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Vanuatu.png"></td>
						<td class="country-name">Vanuatu</td>
						<td class="country-rate-land">$0.82/min</td>
						<td class="country-rate-mobile">$0.83/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Vatican City.png"></td>
						<td class="country-name">Vatican City</td>
						<td class="country-rate-land">$0.08/min</td>
						<td class="country-rate-mobile">$0.08/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Venezuela.png"></td>
						<td class="country-name">Venezuela</td>
						<td class="country-rate-land">$0.09/min</td>
						<td class="country-rate-mobile">$0.36/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Vietnam.png"></td>
						<td class="country-name">Vietnam</td>
						<td class="country-rate-land">$0.11/min</td>
						<td class="country-rate-mobile">$0.13/min</td>
					</tr>
					<!-- AT&T HAS THIS BUT I DON'T.  FIND THE FLAG -->
					<tr>
						<td class="country-image"><img src="/flags/Virgin Islands US.png"></td>
						<td class="country-name">Wallis & Futuna Islands</td>
						<td class="country-rate-land">$0.79/min</td>
						<td class="country-rate-mobile">$0.73/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Yemen.png"></td>
						<td class="country-name">Yemen</td>
						<td class="country-rate-land">$0.25/min</td>
						<td class="country-rate-mobile">$0.25/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Zambia.png"></td>
						<td class="country-name">Zambia</td>
						<td class="country-rate-land">$0.07/min</td>
						<td class="country-rate-mobile">$0.24/min</td>
					</tr>
					<tr>
						<td class="country-image"><img src="/flags/Zimbabwe.png"></td>
						<td class="country-name">Zimbabwe</td>
						<td class="country-rate-land">$0.13/min</td>
						<td class="country-rate-mobile">$0.55/min</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>