<div class="nm-navbar--main">
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="nav-items span10 row">
				<%= link_to "", root_path, :class=>"logo pull-left" %>
				<ul class="nav pull-right">
					<li><a href="/rates">Rates</a></li>
					<li><a href="/access">Access number</a></li>
					<li><a href="/how">How it works</a></li>
			  </ul>
			</div>
	  </div>
	</div>
</div>